extends base.pug

block scripts 
    script(src='../static/index.js')

block style 
    style
      include ../static/style.css

block content 
    section#introSection   
        h1#first Welcome to Dance Academy 
        div#middle You are at right place to became a good dancer 
        div#last Eat Sleep Dance Repeat
