doctype html
html
  head
    title Dance Academy
    block scripts
    block style 
  body
    nav#navbar.top
        ul
            div#logo 
                img(src="../static/logo.png")
                | D A
            li #[a(href ='/') Home]
            li #[a(href ='/about') About ]
            li #[a(href ='/services') Services] 
            li #[a(href ='/classes') Classes ]
            li #[a(href ='/contact') Contact Us] 
    block content 
    footer#footer   
        | Copyrights © DanceAcademy.com  | All rights reserved