extends base.pug

block scripts 
    script(src='../static/index.js')

block style 
    style
      include ../static/style.css
    
block content 
    section#introSection   
        h1#first Welcome to Dance Academy 
        div#middle You are at right place to became a good dancer 
        div#last Eat Sleep Dance Repeat
    section#missionSection
        h1 Our Mission
        div.card 
            h3 Perfection
            div.card-box 
                div.card-img 
                    img(src="../static/bg2.png")
                div.card-content
                    p we make you perfect in your all dances moves.
        div.card 
            h3 Better Dancer 
            div.card-box 
                div.card-img 
                    img(src="../static/bg3.png")
                div.card-content
                    p we make you a better dancer among all dancers in world. 
        div.card 
            h3 Carrer  
            div.card-box 
                div.card-img 
                    img(src="../static/bg4.png")
                div.card-content
                    p we make dance as your carrer
    section#classesSection  
        h1 Our Classes
        div.class-box 
            div.class-img 
                img(src="../static/bg5.jpg")
            div.class-content 
                h1 Hip-Pop 
        div.class-box 
            div.class-img 
                img(src="../static/bg6.png")
            div.class-content 
                h1 Kathak
        div.class-box 
            div.class-img 
                img(src="../static/bg7.jpg")
            div.class-content 
                h1 Jumba
        div.class-box 
            div.class-img 
                img(src="../static/bg8.png")
            div.class-content 
                h1 Ballet